In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_df = pd.read_csv(r"C:\Users\2T Computer\Documents\NMKHDL\dirty_sample_500.csv")
data_df.head(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,6253,L53432,L,300.8,310.3,1538.0,36.1,198.0,0,0,0,0,0,0
1,4685,M19544,M,303.6,311.8,1421.0,44.8,101.0,1,0,0,0,0,0
2,1732,M16591,M,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
3,4743,L51922,L,303.3,311.3,1592.0,33.7,14.0,0,0,0,0,0,0
4,4522,L51701,L,302.4,310.4,1865.0,23.9,129.0,0,0,0,0,0,0
5,6341,H35754,H,300.5,309.9,1397.0,45.9,210.0,1,1,0,0,0,0
6,577,H29990,H,297.7,309.7,1440.0,51.1,191.0,0,0,0,0,0,0
7,5203,L52382,L,303.7,312.7,1335.0,51.1,161.0,0,0,0,0,0,0
8,6364,M21223,M,300.0,309.6,1618.0,36.2,53.0,0,0,0,0,0,0
9,440,M15299,M,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [3]:
data_df.shape

(500, 14)

In [4]:
data_df.columns

Index(['UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF'],
      dtype='object')

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      500 non-null    int64
 1   Product ID               500 non-null    object
 2   Type                     500 non-null    object
 3   Air temperature [K]      460 non-null    float64
 4   Process temperature [K]  460 non-null    float64
 5   Rotational speed [rpm]   460 non-null    float64
 6   Torque [Nm]              460 non-null    float64
 7   Tool wear [min]          460 non-null    float64
 8   Machine failure          500 non-null    int64
 9   TWF                      500 non-null    int64
 10  HDF                      500 non-null    int64
 11  PWF                      500 non-null    int64
 12  OSF                      500 non-null    int64
 13  RNF                      500 non-null    int64
dtypes: float64(5), int64(7), object(2)
memory usage: 54.8+ KB

In [6]:
data_df.isnull().sum()

UDI                         0
Product ID                  0
Type                        0
Air temperature [K]        40
Process temperature [K]    40
Rotational speed [rpm]     40
Torque [Nm]                40
Tool wear [min]            40
Machine failure             0
TWF                         0
HDF                         0
PWF                         0
OSF                         0
RNF                         0
dtype: int64

In [8]:
data_df['Air temperature [K]'].fillna(data_df['Air temperature [K]'].mean(), inplace=True)
data_df['Process temperature [K]'].fillna(data_df['Process temperature [K]'].mean(), inplace=True)
data_df['Rotational speed [rpm]'].fillna(data_df['Rotational speed [rpm]'].mean(), inplace=True)
data_df['Torque [Nm]'].fillna(data_df['Torque [Nm]'].mean(), inplace=True)
data_df['Tool wear [min]'].fillna(data_df['Tool wear [min]'].mean(), inplace=True)
data_df.isnull().sum()

C:\Users\2T Computer\AppData\Local\Temp\ipykernel_1832\2823169725.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_df['Air temperature [K]'].fillna(data_df['Air temperature [K]'].mean(), inplace=True)
C:\Users\2T Computer\AppData\Local\Temp\ipykernel_1832\2823169725.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_df['Process temperature [K]'].fillna(data_df['Process temperature [K]'].mean(), inplace=True)
C:\Users\2T Computer\AppData\Local\Temp\ipykernel_1832\2823169725.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_df['Rotational speed [rpm]'].fillna(data_df['Rotational speed [rpm]'].mean(), inplace=True)
C:\Users\2T Computer\AppData\Local\Temp\ipykernel_1832\2823169725.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_df['Torque [Nm]'].fillna(data_df['Torque [Nm]'].mean(), inplace=True)
C:\Users\2T Computer\AppData\Local\Temp\ipykernel_1832\2823169725.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_df['Tool wear [min]'].fillna(data_df['Tool wear [min]'].mean(), inplace=True)

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [9]:
data_df.head(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,6253,L53432,L,300.800000,310.30000,1538.000000,36.100000,198.000000,0,0,0,0,0,0
1,4685,M19544,M,303.600000,311.80000,1421.000000,44.800000,101.000000,1,0,0,0,0,0
2,1732,M16591,M,300.016304,310.06587,1527.115217,40.366739,104.265217,0,0,0,0,0,0
3,4743,L51922,L,303.300000,311.30000,1592.000000,33.700000,14.000000,0,0,0,0,0,0
4,4522,L51701,L,302.400000,310.40000,1865.000000,23.900000,129.000000,0,0,0,0,0,0
5,6341,H35754,H,300.500000,309.90000,1397.000000,45.900000,210.000000,1,1,0,0,0,0
6,577,H29990,H,297.700000,309.70000,1440.000000,51.100000,191.000000,0,0,0,0,0,0
7,5203,L52382,L,303.700000,312.70000,1335.000000,51.100000,161.000000,0,0,0,0,0,0
8,6364,M21223,M,300.000000,309.60000,1618.000000,36.200000,53.000000,0,0,0,0,0,0
9,440,M15299,M,300.016304,310.06587,1527.115217,40.366739,104.265217,0,0,0,0,0,0

In [10]:
# Liệt kê tất cả giá trị khác nhau trong cột Type 
data_df['Type'].unique()

array(['L', 'M', 'H', 'L ', '??', 'h', 'm', 'HIGH'], dtype=object)

In [11]:
# thống kê số lượng từng giá trị
data_df['Type'].value_counts()

Type
L       320
M       133
H        42
L         1
??        1
h         1
m         1
HIGH      1
Name: count, dtype: int64

In [12]:
# Chuẩn hóa chữ hoa/thường
data_df['Type'] = data_df['Type'].str.upper()

In [13]:
data_df['Type'].unique()

array(['L', 'M', 'H', 'L ', '??', 'HIGH'], dtype=object)

In [14]:
# Xóa khoảng trắng thừa
data_df['Type'] = data_df['Type'].str.strip()

In [15]:
data_df['Type'].unique()

array(['L', 'M', 'H', '??', 'HIGH'], dtype=object)

In [16]:
# Chuyển giá trị lỗi thành NAN 
data_df['Type'] = data_df['Type'].replace('??', np.nan)

In [17]:
df1 = data_df.dropna()
df1.isnull().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [18]:
# Giữ lại giá trị hợp lệ
valid_types = ['L', 'M', 'H']
df1 = df1[df1['Type'].isin(valid_types) | df1['Type'].isna()]

In [19]:
df1['Type'].unique()

array(['L', 'M', 'H'], dtype=object)

In [20]:
df1.isnull().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [21]:
cols = ["Air temperature [K]","Rotational speed [rpm]", "Process temperature [K]", "Torque [Nm]", "Tool wear [min]"]

for col in cols:
    Q1 = df1[col].quantile(0.25)
    Q3 = df1[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = df1[(df1[col] < lower_bound) | (df1[col] > upper_bound)]
    print(f"{col}: {len(outliers)} giá trị ngoại lai")

Air temperature [K]: 0 giá trị ngoại lai
Rotational speed [rpm]: 32 giá trị ngoại lai
Process temperature [K]: 0 giá trị ngoại lai
Torque [Nm]: 9 giá trị ngoại lai
Tool wear [min]: 0 giá trị ngoại lai

In [22]:
from sklearn.ensemble import RandomForestRegressor

def replace_outliers_with_prediction(df1, col, features):
    # 1. Tính Q1 và Q3
    Q1 = df1[col].quantile(0.25)
    Q3 = df1[col].quantile(0.75)
    IQR = Q3 - Q1

    # 2. Xác định ngưỡng dưới và ngưỡng trên để phát hiện outlier
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    # 3. Tạo mask (True/False) cho các hàng là outlier
    mask_outlier = (df1[col] < lower) | (df1[col] > upper)
    
    # 4. Chia dữ liệu thành 2 phần: train_data (không outlier) và test_data (có outlier)
    train_data = df1[~mask_outlier]
    test_data = df1[mask_outlier]
    
    # 5. Nếu có outlier thì mới tiến hành dự đoán
    if not test_data.empty:
        # 5.1. Khởi tạo mô hình Random Forest Regressor
        model = RandomForestRegressor()

        # 5.2. Huấn luyện mô hình dựa trên các cột features để dự đoán giá trị col
        model.fit(train_data[features], train_data[col])

        # 5.3. Dự đoán giá trị mới cho các outlier
        predicted_values = model.predict(test_data[features])

        # 5.4. Gán giá trị dự đoán vào đúng vị trí của outlier trong DataFrame
        df1[col] = df1[col].astype(float)
        df1.loc[mask_outlier, col] = predicted_values


# Danh sách các cột có outlier
cols_outlier = ["Air temperature [K]", "Rotational speed [rpm]", "Torque [Nm]"]

# Các cột dùng để dự đoán
features = ["Process temperature [K]", "Tool wear [min]"]

# Chạy thay thế outlier cho từng cột cho đến khi hết
for col in cols_outlier:
    while True:
        Q1 = df1[col].quantile(0.25)
        Q3 = df1[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        mask_outlier = (df1[col] < lower) | (df1[col] > upper)

        if mask_outlier.sum() == 0:
            print(f"{col}: không còn outliers")
            break
        
        replace_outliers_with_prediction(df1, col, features)

Air temperature [K]: không còn outliers
Rotational speed [rpm]: không còn outliers
Torque [Nm]: không còn outliers

In [23]:
df1["Air temperature [K]"] = df1["Air temperature [K]"].round(1)
df1["Process temperature [K]"] = df1["Process temperature [K]"].round(1)
df1["Rotational speed [rpm]"] = df1["Rotational speed [rpm]"].round(1)
df1["Torque [Nm]"] = df1["Torque [Nm]"].round(1)
df1["Tool wear [min]"] = df1["Tool wear [min]"].round(1)
df1.head(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,6253,L53432,L,300.8,310.3,1538.0,36.1,198.0,0,0,0,0,0,0
1,4685,M19544,M,303.6,311.8,1421.0,44.8,101.0,1,0,0,0,0,0
2,1732,M16591,M,300.0,310.1,1527.1,40.4,104.3,0,0,0,0,0,0
3,4743,L51922,L,303.3,311.3,1592.0,33.7,14.0,0,0,0,0,0,0
4,4522,L51701,L,302.4,310.4,1417.7,23.9,129.0,0,0,0,0,0,0
5,6341,H35754,H,300.5,309.9,1397.0,45.9,210.0,1,1,0,0,0,0
6,577,H29990,H,297.7,309.7,1440.0,51.1,191.0,0,0,0,0,0,0
7,5203,L52382,L,303.7,312.7,1335.0,51.1,161.0,0,0,0,0,0,0
8,6364,M21223,M,300.0,309.6,1618.0,36.2,53.0,0,0,0,0,0,0
9,440,M15299,M,300.0,310.1,1527.1,40.4,104.3,0,0,0,0,0,0

In [24]:
df1.to_csv("cleaned_data_Hiep.csv", index=False, encoding='utf-8-sig')